
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/PERSONAGEM_1/personagem_um_img/imagem.jpg);
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 70px;
    color: rgb(219, 208, 208);
    font-family: 'Creepster', cursive; 
    font-size: 50px;
}

.frase1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgb(218, 203, 203);
    font-size: 30px;
}

.frase2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(236, 222, 222);
    font-weight: 500;
    font-size: 30px;
}

.frase3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(236, 222, 222);
    font-weight: 500;
    font-size: 30px;
}

.botao1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.botao{
    background-color: black;
    color: aliceblue;
    width: 150px;
    height: 60px;
    border:none;
    box-shadow: 4px 5px 4px rgb(47, 72, 94);
    border-radius:25px;
}

.botao:hover{
    background-color: rgb(112, 100, 100);
}